article{
    width: 360px;
    padding: 10px 20px;
    border-radius: 10px;
    background: white;
    box-shadow: 0px 0px 30px #00000038;
}
article img{
    width: 300px;
    height: 250px;
}
.date{
    color: #1E232C;
    font-weight: 200;
    font-size: 12px;
    margin-top: 10px;
}
.heading{
    width: 185px;
    margin-top: 10px;

}
.article-body{
    width: 280px;
    color: #1E232C;
    font-size: 10px;
    margin-top: 10px;
    font-weight: 250;
}
.more{
    display: flex;
    margin-top: 15px;
    gap: 10px;
    /* justify-content: center; */
    align-items: center;
}
.article-line{
    width: 40px;
    height: .5px;
    background:#FF00F7;
}
.more h5{
    color: #FF00F7;
}